@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.widget-text-content {
  line-height: 0.9rem;
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--background);
}

.widget-text-xs-content {
  font-size: 0.625rem;
  color: var(--background);
}

.widget-text-gray-xs {
  font-size: 0.625rem;
  color: #666666;
}

.widget-label-grade-text {
  font-size: 0.75rem;
  color: var(--foreground);
}
